@import 'reset';
@import 'bootstrap';

body{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	transition: .3s;
}

$blue: #2378cb;

a{
	&:hover, &:focus{
		text-decoration: none;
	}
}

.pipedriveWebForms{
	iframe{
		max-width: 100% !important;
	}
}

.header{
	padding: 40px 30px;
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 400;
	background: #000;


	.logo {
		width: 202px;
		display: block;

		img {
			width: 100%;
		}
	}

}

.page-template-front-page{
	.header{
		background: transparent;
		position: absolute;
	}
}

.intro-presentation{
	h2{
		color: #2378cb;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 600;
	}

	.big-title-blue{
		font-size: 40px;
		color: #2378cb;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 45px;
	}

	.img-presentation{
		margin-bottom: 40px;
	}
}

.blue{
	color: #2378cb;
}

.container-intro{
	padding: 50px 0;
	.title{
		margin-bottom: 0;
	}
}

.push-client{
	background-size: cover;
	background-position: center;
	padding: 60px 120px;
	vertical-align: top;
	position: relative;

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.left{
		text-align: left;

		&:after{
			background: rgb(0,0,0);
			background: linear-gradient(260deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		}
	}

	&.right{
		text-align: right;

		&:after{
			background: rgb(0,0,0);
			background: linear-gradient(-260deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		}
	}

	.name-client{
		font-weight: 800;
	}


	.image-client{
		height: 200px;
		width: 200px;
		overflow: hidden;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		position: relative;
		z-index: 3;

		img{
			object-fit: cover;
			height: 100%;
		}
	}

	.info-client{
		display: inline-block;
		width: 350px;
		color: #FFF;
		margin: 0 30px;
		vertical-align: middle;
		position: relative;
		z-index: 3;
		p{
			color: #FFF;
			font-style: italic;
			font-weight: 200;
		}
	}
}



img{
	max-width: 100%;
}

.header-home{
	width: 100%;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	background-size: cover;


	&.not-home{
		height: 50vh;

		.content-center{
			position: absolute;
			top: 50%;
			width: 100%;
			z-index: 30;
			left: 0;
			text-align: center;
			transform: translateY(-50%);


		}
	}


	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		background: rgba(#000, .7);
	}

	.wording{
		font-size: 35px;
		font-weight: 100;
		text-transform: uppercase;
		margin-bottom: 20px;
		line-height: 45px;

		strong{
			background: #2378cb;
			padding: 4px 10px 2px;
			font-weight: 600;
		}
	}



	.content-left{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 580px;
		color: #FFF;
		z-index: 30;
		text-align: center;

		.info-eligibility{
			display: inline-block;
			text-align: left;
			padding-top: 20px;
			p{
				color: #FFF;
				margin-bottom: 0;
				strong{
					font-size: 25px;
					font-weight: 500;
				}
			}

			ul{
				padding-top: 10px;

				li{
					position: relative;
					margin-bottom: 15px;
					font-weight: 200;
					font-size: 18px;
					&:before{
						content: '';
						display : inline-block;
						height : 0;
						width : 0;
						border-top : 6px solid transparent;
						border-bottom : 7px solid transparent;
						border-left : 10px solid #2378cb;
						margin-right: 15px;
					}
				}
			}

			.button{
				margin-top: 30px;
			}
		}

		.sub-wording{
			font-weight: 100;
			margin-bottom: 20px;
		}
	}

	.content-right{
		position: absolute;
		right: 40px;
		max-width: 40%;
		z-index: 3;
		bottom: 40px;
		text-align: right;
		color: #FFF;

		p{
			font-weight: 100;
			margin-bottom: 20px;
		}
	}
}

.switch-lang{
	position: absolute;
	right: 0;
	top: 0;
	background: #181818;
	padding: 6px;
	li{
		display: inline-block;

		a{
			color: #FFF;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 13px;
			padding: 3px;
			display: block;
		}
	}

	&:before{
		content: '';
		display : inline-block;
		height : 0;
		width : 0;
		border-bottom : 31px solid #181818;
		border-left : 21px solid transparent;
		position: absolute;
		top: 0;
		left: -21px;
	}
}


.strate-how-we-are{
	padding: 170px 0;
	background-size: cover;

	.container-text{
		background: rgba(#FFF, .85);
		padding: 50px;
		padding-left: 180px;
		max-width: 800px;

		.title{
			color: #2378cb;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.sub-title{
			font-size: 18px;
			margin-bottom: 20px;
		}

		.content{
			p{
				font-size: 15px;
			}
		}

		.button{
			margin-top: 5px;
		}
	}
}


.sub-title-general{
	font-size: 22px;
}


.strate-affiliation{
	margin-bottom: 60px;
	.title{
		margin-bottom: 0;
		font-size: 35px;
	}

	.sub-title-general{
		margin-bottom: 10px;
	}

	p{
		display: block;
		margin: 0 auto;
		max-width: 300px;
		font-size: 14px;
	}

	a{
		margin-top: 30px;
	}
}


.item-question-response{
	.title-question{
		font-size: 30px;
		color: $blue;

		.number{
			font-weight: 800;
		}
	}
}

.image-faq{
	width: 100%;
	height: 500px;
	object-fit: cover;
	overflow: hidden;
	img{
		display: block;
		overflow: hidden;
		object-fit: cover;
		height: 100%;
	}
}

.buttons-inline{
	a{
		margin: 0 15px;
	}
}

.navigation-toggle{
	position: absolute;
	right: 40px;
	top: 50px;
	background: transparent;
	border: 0;
	width: 40px;
	padding: 15px 0;

	&:focus{
		outline: none;
	}
	.barre{
		width: 100%;
		height: 2px;
		background: #fff;
		transition: .3s;

		&:after{
			content: 'menu';
			text-transform: uppercase;
			display: block;
			color: #FFF;
			font-size: 12px;
			letter-spacing: .04em;
			position: absolute;
			text-align: center;
			width: 100%;
			top: 100%;
			margin-top: 5px;
		}
	}

	&:before, &:after{
		content: '';
		width: 100%;
		height: 2px;
		left: 0;
		background: #FFF;
		position: absolute;
		transition: .3s;
	}

	&:before{
		top: 0;
	}

	&:after{
		bottom: 0;
	}
}

.menu-items{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	width: 30%;
	z-index: 30;
	padding-top: 140px;
	transform: translateX(100%);
	transition: .4s;

	ul{
		li{
			padding: 4px 0;
			a{
				color: #fff;
				font-size: 17px;
				padding-left: 70px;
				position: relative;
				transition: .3s;
				font-weight: 200;

				&:before{
					content: '';
					width: 60px;
					height: 1px;
					background: $blue;
					position: absolute;
					left: 0;
					top: 50%;
					opacity: 0;
					transition: .3s;
				}
			}

			&:hover, &.current-menu-item{
				a{
					color: $blue;

					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
}

.nav-open{
	.navigation-toggle{
		.barre{
			background-color: transparent;
		}

		&:before{
			top: 50%;
			transform: rotate(45deg) translateY(-50%);
		}

		&:after{
			bottom: 50%;
			transform: rotate(-45deg) translateY(50%);
		}
	}


	.menu-items {
		transform: translateX(0%);
	}

}

//Strates

.strate-about-us{
	padding: 0 0;
	position: relative;
	background: #000;

	.text-container{
		position: relative;
		z-index: 30;
		color: #FFF;

		.title{
			font-size: 30px;
		}

		p{
			color: #FFF;
			font-weight: 200;
		}
	}
	.image-strate{
		width: 100%;
		margin-top: -300px;
		text-align: center;
		img{
			max-width: 100%;
			display: inline-block;
		}
	}


	.text-container{
		padding: 90px;

		p{
			margin-bottom: 20px;
		}
	}
}

footer{
	background: #000;
	padding: 30px 0;

	.logo{
		width: 202px;
		display: inline-block;
	}

	.nav-footer{
		padding-top: 20px;
		li{
			a{
				color: #fff;
				font-size: 13px;
				font-weight: 200;
			}
		}

	}

	.legals{
		padding-top: 20px;
		color: #FFF;
		font-weight: 200;
		font-size: 13px;
	}
}

//Commons

.title{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 12px;

	&.title-strate{
		font-size: 30px;
	}
}

p{
	line-height: 24px;
	color: #555;
	&.white{
		color: #FFF;
	}
}

.button{
	padding: 12px 40px;
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: .04em;

	&:hover{
		text-decoration: none;
	}

	&.white{
		background: #FFF;
		color: #000;
	}

	&.black{
		background: #181818;
		color: #FFF;
	}
	&.blue{
		background: #2378cb;
		color: #FFF;
		transition: .3s;
		&:hover{
			background-color: #2065a8;
		}
	}
}

.marge-top{
	margin-top: 30px;
}

.strate-image-full{
	padding: 120px 0;
	text-align: right;
	background-size: cover;
	background-position: center;
	margin-top: 50px;

	.text-container{
		display: inline-block;
		background: rgba(#FFF, .8);
		padding: 30px 120px 30px 30px;
		max-width: 570px;
		text-align: left;

		p{
			margin-bottom: 0;
			font-size: 25px;
			color: #000;
			line-height: 35px;
			strong{
				color: $blue;
			}
		}
	}
}

.strate-key-number{
	margin-top: 30px;
	margin-bottom: 60px;
}

.item-partner{
	display: inline-block;
	vertical-align: bottom;
	width: 32%;
	padding: 30px;

	img{
		margin-bottom: 30px;
	}

	a{
		color: #000;
		text-decoration: underline;
	}
}

.inner-category{
	margin-bottom: 40px;
}

.key-number{
	text-align: center;
	vertical-align: middle;
	margin-top: 60px;
	margin-bottom: 40px;
	padding: 0 30px;

	.number{
		font-size: 30px;
	}

	&.star{
		margin-top: 0;
		.number{
			color: $blue;
			font-size: 90px;
			line-height: 120px;
		}

		.label{
			text-transform: uppercase;
		}
	}
}



@media (max-width: 992px) {
	.header .logo{
		margin: 0 auto;
	}
	.header-home .wording{
		font-size: 23px;
		line-height: 30px;
		padding: 0 15px;
	}
	.header-home .content-left{
		position: relative;
		padding-top: 40px;
		width: 100%;
	}

	.header-home .content-left .info-eligibility p strong{
		font-size: 20px;
	}

	.header-home .content-left .info-eligibility ul{
		margin-top: 15px;
		li{
			font-size: 16px;
			margin-bottom: 5px;

		}
	}

	.header-home{
		min-height: 100vh;
	}


	.strate-about-us{
		.text-container{
			padding: 15px;

			.title{
				font-size: 24px;
				line-height: 30px;
			}
		}

		.image-strate{
			margin-top: -50px;
			padding-bottom: 30px;
		}
	}

	.strate-how-we-are{
		padding: 60px 15px;

		.container-text{
			padding: 20px;

			.button{
				width: 100%;
				text-align: center;
			}
		}
	}

	footer .nav-footer li a{
		text-align: center;
		display: block;
	}

	footer{
		.legals{
			text-align: center;
		}
	}

	.header-home{
		background-attachment: scroll;
	}

}

.logo-container{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: 1500;

	.logo{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 202px;
		text-align: center;
	}

}
// Animations

.fadeIn{
	opacity: 0;
}


.header-home .wording,
.info-eligibility{
	transition: .6s;
}


:root {
	--size: calc(var(--border) * 12);
	--border: 2px;
}

.loader {
	margin: 0 auto;
	margin-top: 10px;
	border: var(--border) solid #FFF;
	border-top-color: rgba(#559bdf, .6);
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	animation: spin 1.2s linear infinite;
}
@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
